%h1 Listing timers
%br
%table
  %tr
    %th Time
    %th Title
    %th Description
    %th
    %th
    %th

  - @timers.each do |timer|
    %tr
      %td= timer.time
      %td= timer.title
      %td= timer.description
      %td= link_to image_tag("icon_eye.png", :alt => "View", :title => "View"), timer
      %td= link_to image_tag("icon_pencil.png", :alt => "Edit", :title => "Edit"), edit_timer_path(timer)
      %td= link_to image_tag("icon_delete.png", :alt => "Delete", :title => "Delete"), timer, :method => :delete, :data => { :confirm => 'Are you sure?' }
%p
  = will_paginate @timers
%br
%div.bottomLinks
  %h3 Actions
  %br
    = link_to image_tag("icon_timer.png", :alt => "New", :title => "New")+"New Timer", new_timer_path, :class => "button addTimerIndex"

    = link_to image_tag("icon_list_bullets.png", :alt => "List", :title => "List")+"List Projects", projects_path, :class => "button addTimerIndex"

    = link_to image_tag("icon_download.png", :alt => "Export", :title => "Export")+"Export Timers to CSV", timers_path(:format => :csv), :class => "button addTimerIndex"