%li.dropdown.user_nav
	%a.dropdown-toggle{:href => '#'}
		= gravatar_image_tag("#{current_user.email}", :alt => "#{current_user.email}", :gravatar => { :size => 25 }, :style => "vertical-align:middle") + "  #{current_user.username}"
	%ul
		%li= link_to "Profile", user_path(current_user)
		%li= link_to "Logout", destroy_user_session_path, :method => :delete
%li 
	= link_to "Projects", projects_path
%li 
	= link_to "Timers", timers_path